*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: 0;
}

html {
  font-size: 62.5%;
}

.detail__service1 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 6rem 0;
  gap: 13.4rem;
}
.detail__service1__img img {
  width: 63.6rem;
  height: 40rem;
}

.service1__part1 > .container {
  width: 47rem;
  /* height: 29rem; */
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.service1__part1 > .container h3 {
  font-family: Bebas Neue;
  font-size: 4.5rem;
  font-weight: 700;
  line-height: 4.5rem;
  letter-spacing: -0.005em;
  text-align: left;
  color: #fdce00;
  text-transform: uppercase;
}

.service1__part1 > .container p {
  font-family: Poppins;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 2.4rem;
  text-align: left;
  color: #fff;
}
.service1__part1:first-child {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.service1__part1:nth-child(2) {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
}

.service1__part1 > .container:nth-child(2) {
  font-family: Poppins;
  font-size: 3.2rem;
  font-weight: 500;
  line-height: 3.2rem;
  letter-spacing: -0.015em;
  text-align: left;

}

.service1__part1 i {
  rotate: 45deg;
}

@media screen and (max-width: 320px) {
  .detail__service1 {
    display: flex;
    /* flex-wrap: wrap; */
    /* flex-direction: column; */
    justify-content: start;
    /* gap: 3rem; */
    padding: 10rem 0 6rem 0;
  }

  .detail__service1__img img {
    width: 100%;
    object-fit: cover;
    /* height: 18.8rem; */
  }

  .service1__part1 {
    display: flex;
    flex-wrap: wrap;
  }

  .service1__part1 > .container {
    width: 98%;
    padding: 2rem;
  }

  .service1__part1 .container h3 {
    font-size: 2.2rem;
    line-height: 2.6rem;
  }

  .service1__part1 > .container p {
    font-size: 1.6rem;
    line-height: 2.4rem;
  }

  .service1__part1 > .container:nth-child(2) {
    font-size: 1.8rem;
    line-height: 1.8rem;
    letter-spacing: -0.015em;
  }
}
